pkgbase = remark-preset-lint-markdown-style-guide
	pkgdesc = A remark lint preset to enforce consistency.
	pkgver = 5.1.2
	pkgrel = 2
	url = https://github.com/remarkjs/remark-lint/tree/master/packages/remark-preset-lint-consistent
	arch = any
	license = MIT
	makedepends = jq
	makedepends = npm
	depends = nodejs
	depends = remark-lint
	noextract = remark-preset-lint-markdown-style-guide-5.1.2.tgz
	source = https://registry.npmjs.org/remark-preset-lint-markdown-style-guide/-/remark-preset-lint-markdown-style-guide-5.1.2.tgz
	sha512sums = 3080219f3d300ceabf32a2ee7126803eab8a1851362394b1a918e0593f9918aed39aa4f1aeba39dded75fcf735f713d7e1ebe6cc8e4265dbda467228c4fdf2b1

pkgname = remark-preset-lint-markdown-style-guide
